<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favico/site.webmanifest">
    <script defer src="../public/javascripts/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
    <title><%= Gal %></title>
</head>
<body>
    <div id="topsbar" class="topsbar">
        <div class="logDecoy"></div>
        <div class="topBtns">
            <p class="topAct left" onclick="redir('/albums')">ALBUMS</p>
            <div class="minilogo" style="margin-top: -10px;" onclick="redir('albums/<%= Images[0].split('/')[2] %>')"><a>▽</a></div>
            <p class="topAct right" onclick="redir('albums/<%= Images[0].split('/')[2] %>')">GALLERIES</p>
        </div>
        <div class="logoutBtn">
            <p class="topLogout" method="post" onclick="redir('/auth/logout')">LOGOUT</p> 
        </div> 
    </div>
    <div class="sizeControll">
        <button id="btnPlus" class="size" onclick="changeGallerySize('+'), btnSizeToggle('btnPlus')" style="font-family: Arial, Helvetica, sans-serif;">+</button>
        <button id="btnMinus" class="size active" onclick="changeGallerySize('-'), btnSizeToggle('btnMinus')" style="font-family: Arial, Helvetica, sans-serif;" disabled>-</button>
        <button id="btnVid" class="text active" onclick="searchGallery('video'), btnToggle('btnVid')"style="margin-left: 35px; font-family: Arial, Helvetica, sans-serif;">VIDEOS</button>
        <button id="btnImg" class="text active" style="margin-left: 5px;"onclick="searchGallery('image'), btnToggle('btnImg')" >IMAGES</button>
        <button id="btnOther" class="text active" style="margin-left: 5px;"onclick="searchGallery('other'), btnToggle('btnOther')">FOLDERS</button>
    </div>
    <div class="galleryHolderInner">
        <p class="albumslogo"><%= Gal %></p>
        <% Images.forEach(item => { %>
            <% let ext = item.substr(-4).toLowerCase() %>
            <% if(ext==='.jpg' || ext==='.gif' || ext==='.png' || ext==='jpeg' || ext=='jfif' || ext=='webp') { %>
                <div id="<%= item %>" class="galleryItemInner galleryItem">
                    <!-- <img class="gallerieImage" src="/<%= item %>"> -->
                    <a data-fancybox="gallery" href="/<%= item %>"><img class="lazy gallerieImage gImage" data-src="/<%= item %>"></a>
                </div>
            <% }else if(ext==='.mp4' || ext==='.webm') { %>
                <div id="<%= item %>" class="galleryItemInner galleryItem">
                    <a data-fancybox="gallery" href="<%= item %>"><img class="gallerieImage gImage" src="/public/images/Video-placeholder.jpg"></a>
                </div>
            <% }else if(ext==='.mov' || ext==='.wmv'  || ext==='.avi' || ext==='.mkv' || ext==='.txt' || ext=='.pdf'  || ext=='tiff'  || ext==='.bpm' || ext==='.ini' || ext==='html' || ext=='.bat' || ext=='.psd'  || ext=='.psd' || ext=='.exe'){ %>
                <div id="<%= item %>" class="galleryItemInner galleryItem" style="justify-content: center; align-items: center;">
                    <img class="gallerieImage gImage" src="/public/images/File-placeholder.jpg">
                    <p class="folderTxt"><%= item.split('/')[4] %> </p>
                </div>
            <% }else{ %>
                <div id="<%= item %>" class="galleryItemInner galleryItem" style="justify-content: center; align-items: center;">
                    <img class="gallerieImage gImage" onclick="redir('albums/<%= item.split('/')[2] %>/<%= item.split('/')[3] %>/<%= item.split('/')[4] %>')" src="/public/images/Folder-placeholder.jpg">
                    <p class="folderTxt" onclick="redir('albums/<%= item.split('/')[2] %>/<%= item.split('/')[3] %>/<%= item.split('/')[4] %>')" ><%= item.split('/')[4] %> </p>
                </div>
            <% } %>
        <% }); %>
    </div>
    <div class="foot"><p>Copyright © 2021 <a href="https://github.com/Joseph-Kaiser/IO_Gallery">Joseph-Kaiser</a></p></div>
    <script src="../public/javascripts/uiHandlers.js"></script>
    <script>
        var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
        });
    </script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js"></script>
</html>