<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favico/site.webmanifest">
    <script defer src="../public/javascripts/utils.js"></script>
    <title>Álbuns</title>
</head>
<body>
    <div id="topsbar" class="topsbar">
        <div class="topBtns">
            <p class="topAct left" onclick="redir('/')">FRONT</p>
            <div class="minilogo" onclick="redir('/albums')" style="margin-top: -10px;"><a>▽</a></div>
            <p class="topAct right" onclick="redir('/albums')">ALBUMS</p>
        </div>    
    </div>  
    <div class="gHold">
        <div class="searchControll">
            <input autocomplete="off" id="searchQ" type="text" placeholder="Search" onchange="searchGeneral('galleryItem')">
            <img width="17" heihgt="17" src="../public/images/search.png" alt="">
        </div>
        <div class="galleryHolder">
            <p class="albumslogo"><%= Album %></p>
            <% GalData.Thumbs.forEach((item, index) => { %>
                <div class="galleryItem" id="<%= item.split('/')[3] %>">
                    <div class="imgCountHold">
                        <img src="../public/images/pictures.png" alt="">
                        <p class="imgCount"><%= GalData.Count[index] %></p>
                    </div>
                    <div class="fadeDiv">
                        <div class="txtGalHold" onclick="javascript:window.location='/albums/<%= item.split('/')[2] +'/'+ item.split('/')[3] %>'">
                            <p class="txtGal"><%= item.split('/')[3] %></p>
                        </div>
                    </div>
                    <img class="gallerieThumb" src="/<%= item %>">
                </div>
            <% }); %>
            <div style="height:500px; width: 100%;"></div>
        </div>
    </div>
    <div class="foot"><p>Copyright © 2021 Joseph-Kaiser</p></div>
    <script src="../public/javascripts/uiHandlers.js"></script>
</body>
</html>
